name: Reusable Upload Lambdas Workflow

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
    secrets:
      AWS_ACCOUNT_ID:
        required: true
        description: "AWS Account ID to assume role in"

permissions:
  id-token: write
  contents: read

jobs:
  upload-lambdas:
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    strategy:
      fail-fast: false
      matrix:
        lambda:
          - account-alerts
          - alert-elb-cloudwatch-alarm
          - bind-server-network-attachment
          - cloud-server-auth
          - create-elb-cloudwatch-alarm
          - create-rds-cloudwatch-alarm
          - deckhand
          - ebs-janitor
          - elb-cleanup
          - grafana-aws-metrics
          - lambda-promtail
          - logs-to-opensearch
          - rds-cluster-events
          - cloudwatch-event-alerts
          - elrond-notification
          - gitlab-webhook
          - provisioner-notification
          - grant-privileges-to-schemas

    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3

      - name: Debug Role ARN
        env:
          ENVIRONMENT_INPUT: ${{ inputs.environment }}
          AWS_ACCOUNT_ID_INPUT: ${{ secrets.AWS_ACCOUNT_ID }}
        run: |
          echo "AWS Account ID: $AWS_ACCOUNT_ID_INPUT"
          echo "Environment: $ENVIRONMENT_INPUT"
          echo "Role ARN: arn:aws:iam::$AWS_ACCOUNT_ID_INPUT:role/mattermost-cloud-lambdas-upload-$ENVIRONMENT_INPUT-lambda-role"

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@00943011d9042930efac3dcd3a170e4273319bc8
        with:
          aws-region: us-east-1
          role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/mattermost-cloud-lambdas-upload-${{ inputs.environment }}-lambda-role

      - name: Upload Lambda
        uses: ./.github/actions/upload-lambda
        env:
          ENVIRONMENT: ${{ inputs.environment }}
          LAMBDA_NAME: ${{ matrix.lambda }}
